flow.json
[
    {
        "id": "45a71fc.1bebde",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2ac34a26.7bd096",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "5f436a55.6632f4",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4edafae7.7fb414",
        "type": "ui_group",
        "name": "Estado Botones M5Stack",
        "tab": "5f436a55.6632f4",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7db58b39.b19384",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "82b66628.be2f58",
        "type": "ui_group",
        "name": "M5StickC",
        "tab": "5f436a55.6632f4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "57fe6446.88d14c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "4edafae7.7fb414",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "ce617b4a.db5e68",
        "type": "ui_group",
        "name": "M5StickC",
        "tab": "5f436a55.6632f4",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "74f689f3.93cd48",
        "type": "ui_group",
        "name": "M5StickC",
        "tab": "5f436a55.6632f4",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "df326a5c.9a8758",
        "type": "mqtt in",
        "z": "45a71fc.1bebde",
        "name": "",
        "topic": "#",
        "qos": "2",
        "datatype": "auto",
        "broker": "2ac34a26.7bd096",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "bd4cf071.e7dfc"
            ]
        ]
    },
    {
        "id": "bd4cf071.e7dfc",
        "type": "debug",
        "z": "45a71fc.1bebde",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 510,
        "y": 100,
        "wires": []
    },
    {
        "id": "79f397e3.41ff48",
        "type": "mqtt in",
        "z": "45a71fc.1bebde",
        "name": "",
        "topic": "aprendiendonodered/casa/m5stack/A",
        "qos": "2",
        "datatype": "auto",
        "broker": "2ac34a26.7bd096",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "4d8740b5.cc4a7"
            ]
        ]
    },
    {
        "id": "ff02db8e.de4918",
        "type": "mqtt out",
        "z": "45a71fc.1bebde",
        "name": "",
        "topic": "aprendiendonodered/casa/m5stack/label",
        "qos": "",
        "retain": "",
        "broker": "2ac34a26.7bd096",
        "x": 700,
        "y": 480,
        "wires": []
    },
    {
        "id": "c6c6db42.44fb08",
        "type": "comment",
        "z": "45a71fc.1bebde",
        "name": "Lógica de M5Stack",
        "info": "",
        "x": 180,
        "y": 200,
        "wires": []
    },
    {
        "id": "34347db6.3c9062",
        "type": "mqtt in",
        "z": "45a71fc.1bebde",
        "name": "",
        "topic": "aprendiendonodered/casa/m5stack/B",
        "qos": "2",
        "datatype": "auto",
        "broker": "2ac34a26.7bd096",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "9b9ff0e4.58e0f"
            ]
        ]
    },
    {
        "id": "7d69045d.c637bc",
        "type": "mqtt in",
        "z": "45a71fc.1bebde",
        "name": "",
        "topic": "aprendiendonodered/casa/m5stack/C",
        "qos": "2",
        "datatype": "auto",
        "broker": "2ac34a26.7bd096",
        "x": 190,
        "y": 360,
        "wires": [
            [
                "8c1abddc.644d3"
            ]
        ]
    },
    {
        "id": "2455ec69.7cdcc4",
        "type": "ui_text",
        "z": "45a71fc.1bebde",
        "group": "4edafae7.7fb414",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "A",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 690,
        "y": 360,
        "wires": []
    },
    {
        "id": "4d8740b5.cc4a7",
        "type": "trigger",
        "z": "45a71fc.1bebde",
        "name": "",
        "op1": "",
        "op2": " ",
        "op1type": "pay",
        "op2type": "str",
        "duration": "3",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 500,
        "y": 360,
        "wires": [
            [
                "2455ec69.7cdcc4"
            ]
        ]
    },
    {
        "id": "d9f9160c.3fbfb8",
        "type": "ui_text",
        "z": "45a71fc.1bebde",
        "group": "4edafae7.7fb414",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "C",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 690,
        "y": 440,
        "wires": []
    },
    {
        "id": "8c1abddc.644d3",
        "type": "trigger",
        "z": "45a71fc.1bebde",
        "name": "",
        "op1": "",
        "op2": " ",
        "op1type": "pay",
        "op2type": "str",
        "duration": "3",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 500,
        "y": 440,
        "wires": [
            [
                "d9f9160c.3fbfb8"
            ]
        ]
    },
    {
        "id": "667f7867.d37348",
        "type": "ui_text",
        "z": "45a71fc.1bebde",
        "group": "4edafae7.7fb414",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "B",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 690,
        "y": 400,
        "wires": []
    },
    {
        "id": "9b9ff0e4.58e0f",
        "type": "trigger",
        "z": "45a71fc.1bebde",
        "name": "",
        "op1": "",
        "op2": " ",
        "op1type": "pay",
        "op2type": "str",
        "duration": "3",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 500,
        "y": 400,
        "wires": [
            [
                "667f7867.d37348"
            ]
        ]
    },
    {
        "id": "c2bde33c.dfadf",
        "type": "inject",
        "z": "45a71fc.1bebde",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "bd4cf071.e7dfc"
            ]
        ]
    },
    {
        "id": "67252650.d05f28",
        "type": "e-mail",
        "z": "45a71fc.1bebde",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "aprendiendoraspberrypi@gmail.com",
        "dname": "manda email alerta",
        "x": 350,
        "y": 840,
        "wires": []
    },
    {
        "id": "609d11f3.929a",
        "type": "comment",
        "z": "45a71fc.1bebde",
        "name": "En el inicio de Node-RED mando un email",
        "info": "",
        "x": 210,
        "y": 780,
        "wires": []
    },
    {
        "id": "fc4c30da.caea3",
        "type": "inject",
        "z": "45a71fc.1bebde",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "Node-RED enriquecrespo.com:1880 deployed",
        "payload": "La Instancia de Node-RED enriquecrespo.com:1880 ha hecho un redeploy o se ha reiniciado.",
        "payloadType": "str",
        "x": 150,
        "y": 840,
        "wires": [
            [
                "67252650.d05f28"
            ]
        ]
    },
    {
        "id": "13ca4e2a.4f48f2",
        "type": "inject",
        "z": "45a71fc.1bebde",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 900,
        "wires": [
            [
                "30c6e645.d7462a",
                "db05faa4.2d7928"
            ]
        ]
    },
    {
        "id": "30c6e645.d7462a",
        "type": "change",
        "z": "45a71fc.1bebde",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(file)::prueba",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "db05faa4.2d7928",
        "type": "change",
        "z": "45a71fc.1bebde",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "prueba",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "6e6a5aba.9367b4",
        "type": "ui_text_input",
        "z": "45a71fc.1bebde",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "4edafae7.7fb414",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 100,
        "y": 480,
        "wires": [
            [
                "ff02db8e.de4918"
            ]
        ]
    },
    {
        "id": "c6d87920.1c6f38",
        "type": "comment",
        "z": "45a71fc.1bebde",
        "name": "Lógica de M5StickC",
        "info": "",
        "x": 150,
        "y": 540,
        "wires": []
    },
    {
        "id": "a735d209.9e61f",
        "type": "mqtt in",
        "z": "45a71fc.1bebde",
        "name": "",
        "topic": "aprendiendonodered/casa/m5stick/temperatura",
        "qos": "2",
        "datatype": "auto",
        "broker": "2ac34a26.7bd096",
        "x": 240,
        "y": 600,
        "wires": [
            [
                "f18da1b1.316fd",
                "63bbf25b.f79ecc",
                "c689d5b4.4fd018"
            ]
        ]
    },
    {
        "id": "f0a76319.96b3f",
        "type": "mqtt in",
        "z": "45a71fc.1bebde",
        "name": "",
        "topic": "aprendiendonodered/casa/m5stick/humedad",
        "qos": "2",
        "datatype": "auto",
        "broker": "2ac34a26.7bd096",
        "x": 230,
        "y": 660,
        "wires": [
            [
                "95263cc1.d61d1",
                "bf6f4252.8bf9c"
            ]
        ]
    },
    {
        "id": "8639a9a3.d02cd8",
        "type": "mqtt in",
        "z": "45a71fc.1bebde",
        "name": "",
        "topic": "aprendiendonodered/casa/m5stick/presion",
        "qos": "2",
        "datatype": "auto",
        "broker": "2ac34a26.7bd096",
        "x": 220,
        "y": 720,
        "wires": [
            [
                "bbe737be.dd4a38",
                "b8b0bcc9.10144"
            ]
        ]
    },
    {
        "id": "f18da1b1.316fd",
        "type": "ui_gauge",
        "z": "45a71fc.1bebde",
        "name": "",
        "group": "82b66628.be2f58",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "24",
        "seg2": "26",
        "x": 660,
        "y": 600,
        "wires": []
    },
    {
        "id": "95263cc1.d61d1",
        "type": "ui_gauge",
        "z": "45a71fc.1bebde",
        "name": "",
        "group": "ce617b4a.db5e68",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "80",
        "x": 650,
        "y": 660,
        "wires": []
    },
    {
        "id": "bbe737be.dd4a38",
        "type": "ui_gauge",
        "z": "45a71fc.1bebde",
        "name": "",
        "group": "74f689f3.93cd48",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Presion",
        "label": "pa",
        "format": "{{value}}",
        "min": 0,
        "max": "1200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "900",
        "seg2": "1100",
        "x": 650,
        "y": 720,
        "wires": []
    },
    {
        "id": "63bbf25b.f79ecc",
        "type": "ui_chart",
        "z": "45a71fc.1bebde",
        "name": "",
        "group": "82b66628.be2f58",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Chart Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 790,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "bf6f4252.8bf9c",
        "type": "ui_chart",
        "z": "45a71fc.1bebde",
        "name": "",
        "group": "ce617b4a.db5e68",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Chart Humedad",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 820,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "b8b0bcc9.10144",
        "type": "ui_chart",
        "z": "45a71fc.1bebde",
        "name": "",
        "group": "74f689f3.93cd48",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Chart Presión",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 800,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "c689d5b4.4fd018",
        "type": "rbe",
        "z": "45a71fc.1bebde",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 450,
        "y": 540,
        "wires": [
            [
                "ff02db8e.de4918"
            ]
        ]
    },
    {
        "id": "41cafe7c.1f542",
        "type": "ui_template",
        "z": "45a71fc.1bebde",
        "group": "4edafae7.7fb414",
        "name": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "Manda mensaje a M5Stack\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 710,
        "y": 320,
        "wires": [
            []
        ]
    }
]